.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.btn-primary {
  background-color: #1976d2;
}

.btn-primary:hover {
  background-color: #115293;
}


.btn-danger {
  background-color: #d32f2f;
}

.btn-danger:hover {
  background-color: #9a0007;
}


.btn-success {
  background-color: #2e7d32;
}

.btn-success:hover {
  background-color: #1b5e20;
}
